@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

body {
    min-height: 100vh;
    min-width: 60vw;
    display: grid;
    place-items: center;
   justify-content: center;    
   background-color: #2b1d01;
}

main {
    width: 70vw;
    height: 50vh;
    display: grid;
    place-items: center;
    justify-content: center; 
}

#welcomeUser {
    margin-top: 68px;
    color: white;   
    display: grid;
    place-items: center;
   justify-content: center;    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #811036;
}

#modal {
    position: absolute;
    display: grid;
    place-items: center;
    justify-content: center;    
color: white;
background: url(Floppydisk.jpg) no-repeat center/contain;
    width: 70%;
    height: 70%;
    top: 12vh;
}

#lab {
     display: grid;
    place-items: center;
    justify-content: center;    
    margin-bottom: 20vh;
}

#flex {
    display: flex;
    flex-direction: column;    
}

.userLog {
         display: grid;
        place-items: center;
    justify-content: center;    
    width: 15em;
    height: 2em;
    background: #593535;
    font-size: 30px; 
}